// index
.homeHeader {
    padding-top: $space*22;
    padding-bottom: $space*11;
    border-bottom: 1px solid $gray-200;
    margin-bottom: $space-xl;

    @media (max-width:768px) {
        padding-top: $space*17;
        padding-bottom: $space-8;
        margin-bottom: $space-8;
    }

    @media (max-width:576px) {
        padding-top: $space*14;
        padding-bottom: $space-5;
        margin-bottom: $space-5;
    }

    &-img {
        max-width: 320px;
        max-height: 320px;
    }
}

// project
.filter {
    padding-top: $space*22;
    display: flex;

    &-item {
        margin-right: $space-2;
        cursor: pointer;
    }
}

// about
.aboutHeader {
    &-img {
        max-width: 376px;
        max-height: 320px;
    }
}

.strength {
    padding: $space-4 $space-2;
    border: 1px solid $gray-200;
    border-radius: 16px;
}

.skill-img {
    max-width: 64px;
    max-height: 64px;
    margin: 0 auto 8px auto;
}

.skill-content {
    background-color: $gray-100;
    padding: $space-1 $space-2;
    border-radius: 8px;

}

.job {
    padding: $space-2;

    &-logo {
        width: 72px;
        width: 72px;
        border: 1px solid $gray-100;
        border-radius: $space;
        margin-right: $space-5;

        @media (max-width: 576px) {
            margin-right: 0;
            margin-bottom: $space-3;
        }
    }

    &-list {
        list-style-type: square;
        list-style-position: inside;
        text-indent: $space;

        @media (max-width: 576px) {
            margin-bottom: 8px;
        }
    }

    &:hover {
        background-color: $gray-100;
        border-radius: $space-2;
    }
}

//project 介紹頁 
.space {
    height: 88px;
}

.projectHead {
    padding-top: 148px;
    padding-bottom: 148px;
    color: $white;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;

    &-1 {
        background-image: url(../images/jmemtor/img_product-jm_header.jpg);
    }

    &-2 {
        background-image: url(../images/hichef/img_product_header.jpg);
    }

    &-3 {
        background-image: url(../images/nbeaute/img_product_header.jpg);
    }

    &-4 {
        background-image: url(../images/fooind/product_header.png);
    }

    &-5 {
        background-image: url(../images/brainycheck/product_header.png);
    }

    &-6 {
        background-image: url(../images/travel/img_product_header.png);
    }

    &-7 {
        background-image: url(../images/bikefun/img_product_header.png);
    }

    &-8 {
        background-image: url(../images/picchu/img_product_header.png);
    }

    @media (max-width:992px) {
        padding-top: $space*12;
        padding-bottom: $space*12;
    }

    @media (max-width:576px) {
        padding-top: $space*8;
        padding-bottom: $space*8;
    }
}

.div-column {
    width: 50%;

    @media (max-width:576px) {
        width: 100%;
    }
}

.swiper {

    &-button-next,
    &-button-prev {
        color: $primary;
    }

    &-pagination-bullet-active {
        background-color: $primary;
    }
}

.flow-border {
    border: 1px solid $gray-100;
    border-radius: 8px;
}

.project {
    &-fit {
        display: block;
        margin: 0 0 2em 0;
        width: 100%;
        text-align: center;
    }
    &-proto {
        margin: 0;
        width: 100%;
        height: 720px;
    }

    &--list-style {
        list-style-type: decimal;
        list-style-position: inside;
    }
    &-logo {
        max-width: 678px;
        height: auto;
    }
}

// .project-fit {
//     display: block;
//     margin: 0 0 2em 0;
//     width: 100%;
//     text-align: center;
// }

// .project-proto {
//     margin: 0;
//     width: 100%;
//     height: 720px;
// }

// .project-list-style {
//     list-style-type: decimal;
//     list-style-position: inside;
// }

// .project-logo {
//     max-width: 678px;
//     height: auto;
// }